body{
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
    background-color:#FFF!important;
}
.navbar .navbar-header a.navbar-brand img {
    display: inline-block;
    position: relative;
    height: 32px;
    /*top: -4px;*/
}

.container{
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar {
    background-color: #fff!important;
    margin-bottom: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav>li>a{
    padding: 15px;
    font-size:17px;
}
.navbar-brand{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.navbar-brand span {
    font-size: 26px;
    position: relative;
    top: 4px;
}

.nav> li:hover .dropdown-menu {display: block;}

.copyright {
    font-size: 10pt;
    color: #666;
    text-align: center;
}

.dropdown-menu>li{
	margin-bottom:5px;
}
#introduce{
	min-height:200px;
}
div#introduce>div.item{
	text-align:center;
}