.showlist{
    color: #57a000;
}

.showlist:hover,.a.list:focus{
    text-decoration: none;
    color: #d58512;
}

.panel-heading{
    background-color:rgb(248, 250, 254)!important;
}
.panel-title a{
    font-weight:bold;
}
.panel-title a:hover,.panel-title a:focus{
    text-decoration: none;
}

.divider{
    border-top: 1px solid #ddd;
    border-color: green;
}

.small{
    padding-left: 15px;
    color: #777;
}
#datetimepicker1,#datetimepicker2{
    padding-left: 15px;
}



